.queue {
  margin: 20px auto;
  padding: 10px 10px 25px 10px;
  //border: 3px dotted #343434;
  //border-radius: 25px;
}

.queue-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;

  .queue-item-desc {
    font-weight: bold;
    font-size: 13px;
    color: #343434;
    margin: 0 8px;
  }

  .queue-item-img {
    width: 80px;
    border-radius: 50%;
    margin: 0 8px;
  }

  .queue-item-delete {
    & > * {
      margin: 8px;
    }
  }
}
